@charset "utf-8";
/* CSS Document */
body{
	background:url(../img/stars-1.png) repeat-x -130%  0%,url(../img/stars-2.png) repeat-x 40% 0%,url(../img/space-bg.png) repeat-x 40% 0%,url(../img/clouds.png) repeat-x 100% 0%;
	background-color:1A1A1A;
	font-size:100%;
	color:#999;
}
#wrap{
	margin:100px 0px 40px 0px;
	padding:40px 110px;
	background-color:rgba(0,0,0,.25);
}
#footer p{
	font-size:.9em;
	color:#666;
	color:rgba(255,255,255,.9);
}
#footer #logo{
	float:right;
	margin:-15px 0px 0px 0px;
}
#footer{
	width:800px;
	margin:0px auto; 
}
#footer #logo a{
	opacitiy:.25;
	transition:opacity  .8s linear;
	display:block;
}
#footer  #logo  a:hover{
	opacity:.50;
}